@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* ye important hai */
  overflow-x: hidden; /* horizontally scroll hide karta hai */
}